$base-color: #539cc6;
$primary-color: rgba(13,110, 139, 0.75);
$overlay-color: rgba(24, 39, 51, 0.85);
$menu-speed: 0.75s;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: $primary-color;
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: $primary-color;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity: 0.5;
}


// menu 

.menu-wrap {
    position: fixed;
    top:0;
    left:0;
    z-index:1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity:0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

//burguer line
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top:-10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: $menu-speed;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0,4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: $overlay-color;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}





//
// #logo { 
//     float: left;
//     display: inline-block;
//     margin: 10px;
//   }
  
//   .clear {
//     clear: both;
//   }
  
  
//   #nav {
//       background-color: $base-color;  /*turns nav bar white*/
//       color: white;
//       width: 100%;
  
//   }
//   .nav {
//     float: right;
//     list-style: none; 
//     text-align: left;
//     margin: 10px;
//   }
//   .nav > li {                                                            
//       display:Inline-block;
//       padding: 10px 9px 10px 9px;                              
//   }
  
//    .nav > li a {                                               
//        text-decoration: none;
//        color: white;
//        font-size: 20px;
//        padding: 5px 0px 5px 0px
//    }
  
//    .nav > li > a:hover {
//        color: black;
//    }


//this is the new style

// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     background-color: $base-color;
// }

// li, a {
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     color: #edf0f1;
//     text-decoration: none;
// }

// header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30 10%;
//     height: 100px;
// }

// .logo {
//     cursor: pointer;
//     color: #edf0f1;
//     margin-left: 20px;
// }

// .nav_links {
//     list-style: none;
// }

// .nav_links li {
//     display: inline-block;
//     padding: 0px 20px;
// }

// .nav_links li a {
//     transition: all 0.3s ease 0s;
// }

// .nav_links li a:hover {
//     color: #52a900;
// }

// *{
//     padding: 0;
//     margin:0;
//     text-decoration: none;
//     list-style: none;
//     box-sizing: border-box;
// }

// body {
//     font-family: Arial, Helvetica, sans-serif;
// }

// nav{
//     background: $base-color;
//     height: 80px;
//     width: 100%;
// }
// label.logo{
//     color:white;
//     font-size: 35px;
//     line-height: 80px;
//     padding: 0 50px;
//     font-weight: bold;
// }

// nav ul {
//     float: right;
//     margin-right: 20px;
// }

// nav ul li{
//     display: inline-block;
//     line-height: 80px;
//     margin: 0 5px;
// }

// nav ul li a {
//     color: white;
//     font-size: 17px;
//     padding: 7px 13px;
//     border-radius: 3px; 
//     text-transform: uppercase;
// }

// a.active, a:hover{
//     background: #1b9bff;
//     transition: .5s;
// }







// @media only screen and (max-width: 768px) {
//     .logo {
//         color: red;
//     }
//    }

// @media only screen and (max-width: 600px) {
//     .logo {
//         color: yellow;
//     }
//   }



