<!-- <div id='nav'>
    <h1 id="logo">Skato</h1>  

 <nav>   
   <ul class="nav">
      <li><a href="personaltraining.html">login</a></li>
      <li><a href="indexdesktop.html">logout</a></li>
      <li><a href="indexdesktop.html">signup</a></li>
   </ul>
</nav>
  <div class="clear"></div>
  </div> -->

  <header>
      <h1 class="logo">Skato</h1>
      <nav>
          <ul class="nav_links">
              <li><a href="#">login</a></li>
              <li><a href="#">logout</a></li>
              <li><a href="#">singup</a></li>
          </ul>
      </nav>
      
  </header>