$base-color: #539cc6;

#logo { 
    float: left;
    display: inline-block;
    margin: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  
  #nav {
      background-color: $base-color;  /*turns nav bar white*/
      color: white;
      width: 100%;
  
  }
  .nav {
    float: right;
    list-style: none; 
    text-align: left;
    margin: 10px;
  }
  .nav > li {                                                            
      display:Inline-block;
      padding: 10px 9px 10px 9px;                              
  }
  
   .nav > li a {                                               
       text-decoration: none;
       color: white;
       font-size: 20px;
       padding: 5px 0px 5px 0px
   }
  
   .nav > li > a:hover {
       color: black;
   }