<!-- <div id='nav'>
    <h1 id="logo">Skato</h1>  

 <nav>   
   <ul class="nav">
      <li><a href="personaltraining.html">login</a></li>
      <li><a href="indexdesktop.html">logout</a></li>
      <li><a href="indexdesktop.html">signup</a></li>
   </ul>
</nav>
  <div class="clear"></div>
  </div> -->

  <!-- <header>
      <h1 class="logo">Skato</h1>
      <nav>
          <ul class="nav_links">
              <li><a href="#">login</a></li>
              <li><a href="#">logout</a></li>
              <li><a href="#">singup</a></li>
          </ul>
      </nav>
      
  </header> -->

<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <header class="showcase">
    <div class="container showcase-inner">
        <h1>Welcome to Skato</h1>
        <p>Share your tricks and fun skateboarding videos!</p>
    </div>
</header> -->